.spacerTop {
	margin-top: 2rem;
}

.commentsLabel {
    font-size: 1.5em;
    background-color: white;
    width: 100%;
    padding-left:0.25em;
    margin-bottom:0;
}

.commentAddLink {
    width: 90%;
    text-align: right;
}

.statusAttribute {
    float: right;
}

.startProgressAttribute {
    float: right;
}

.resolveAttribute {
    float: right;
}

.myMap {  
    height: 300px;  
    width: 350px;  
}  